<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Desk QR Code Generator</title>
</head>
<body>
    <div class = "Box">
    <h2>Generate Desk QR Code</h2>
    <h3>For Remote Check-In &#128241;</h3>

    <h4 style="font-weight: normal;">
        Are you running late for work and worried about losing your reserved desk? &#128549;<br><br>
        With this QR Code Generator, you can easily generate your Desk QR Code for your desk! &#128525; <br><br>
        You can now check in remotely — whether you're at home, on the train, or anywhere else. &#127939; <br><br>
        Never worry about missing your desk booking again!! &#128522; <br>
    </h4>

    <form method="POST">
        <h4 style="margin:0;" for="data">Enter Desk Number: &#x2B07;&#xFE0F;</h4>
        <input type="text" id="data" name="data" placeholder=" 6-Digit Number" required><br>
        <button type="submit">Generate Desk QR Code</button>
    </form>

    <br>

    <!-- Display any flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                <div class = "wrongInput">Don't be an idiot! &#128531; Your desk number should only have 6 digits &#128530; </div><br>
        {% endif %}
    {% endwith %}

    {% if qr_image_path %}
            <div class = "qrCode">
                <img src="{{ qr_image_path }}" alt="QR Code">
                <br>
                <label>Desk {{ desk_number }}</label>
            </div><br>
    {% endif %}

    <h4 style="margin: 0;">Source Code: &#x1F9D1;&#x200D;&#x1F4BB;</h4>
    <a href = "https://github.com/samsonchen15/Flask_QR_Scanner">GitHub Repository</a>
    </div>
</body>
</html>
